.assignment {
	.head {
		font-size: 40px;
	}
	.title {
		.index {
			display: inline-block;
			margin-right: 20px;
		}
		margin-top: 30px;
		font-size: 30px;
	}
	.count {
		font-family: Avenir-Book;
		font-size: 20px;
	}
	.answers {
		margin-top: 70px;
	}
}