@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";

	background-image: image-url("#{$at1x_path}");

	@media all and (-webkit-min-device-pixel-ratio : 1.5),
				 all and (-o-min-device-pixel-ratio: 3/2),
				 all and (min--moz-device-pixel-ratio: 1.5),
				 all and (min-device-pixel-ratio: 1.5) {
					 background-image: image-url("#{$at2x_path}");
					 background-size: $w $h;
	}
}

@mixin center {
	text-align: center;
}

body {
	margin: 0px;
	// font-family: 
}

footer {
	@include center;
	padding: 30px 0;
	min-height: 50px;
	border-top: 1px solid #ECECEC;
	background-color: rgb(240, 240, 240);
}

.navbar {
	margin-bottom: 0px !important;
}

.landing {
	.promo-section {
		// @include at2x('landing-bg', jpg);
		background-image: image-url("landing-bg.jpg");
		background-size: cover !important;
		background-repeat: no-repeat;
		min-height: 500px;
		padding-bottom: 50px;
		.title {
			@include center;
			padding-top: 180px;
			font-size: 47px;
			color: #E2CFBA;
			max-width: 545px;
			margin: 0 auto;
			font-family: 'Avenir-Book', sans-serif;
		}
		.action {
			@include center;
			margin-top: 54px;
		}
	}

	.what {
		min-height: 100px;
		padding-top: 20px;
		padding-bottom: 30px;
		background-color: #FAFAFA;
		.title {
			@include center;
			font-size: 30px;
			color: #898989;
		}
		.desc {
			@include center;
			margin-top: 30px;
			font-family: 'Avenir-Book', sans-serif;
			font-size: 24px;
		}
	}

	.how {
		padding: 40px 0;
		min-height: 500px;
		padding-bottom: 50px;
		background-color: #F6F6F6;
		.head {
			@include center;
			font-family: 'Avenir-Book', sans-serif;
			font-size: 40px;
			color: #898989;
		}
		.icon {
			@include center;
			margin-top: 48px;
			height: 100px;
		}
		.title {
			@include center;
		}
		.desc {
			@include center;
			margin-top: 18px;
			font-size: 20px;
			color: #898989;
		}
		.action {
			@include center;
			margin-top: 74px;
		}
	}

	.why {
		padding: 40px 0;
		min-height: 435px;
		padding-bottom: 50px;
		background-color: #FAFAFA;
		.title {
			@include center;
			font-family: 'Avenir-Book', sans-serif;
			font-size: 40px;
			color: #898989;
		}
		.desc {
			@include center;
			margin: 48px auto; 
			font-family: 'Avenir-Book', sans-serif;
			font-size: 24px;
			color: #29292F;
			line-height: 33px;
			max-width: 620px;
		}
		.action {
			@include center;
			margin-top: 50px;
		}
	}
}

.creator-dashboard, .exam-form {
	.exams-section {
		width: 300px;
		height: 100%;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		position: absolute;
		background-color: #efefef;
		h4 {
			padding: 20px 10px;
		}
		.action {
			display: inline-block;
			position: absolute;
			right: 10px;
			a {
				margin-left: 7px;
				border: 1px solid #e0e0e0;
				border-radius: 100%;
				font-size: 16px;
				padding: 5px;
				width: 35px;
				height: 35px;
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				background-color: #fff;
				&:hover {
					background-color: #cecece;
				}
			}
		}
		ul.exams {
			padding: 0;
			background-color: #efefef;
			li.exam {
				list-style-type: none;
				padding: 20px 10px;
				border-bottom: 1px solid #e0e0e0;
				.name {
					display: inline-block;
					margin-top: 6px;
					max-width: 115px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					display: inline-block;
				}
				&:hover {
					background-color: #e0e0e0;
				}
			}
		}	
	}
	.qiz-section, .form-section {
		width: 500px;
		width: calc(100% - 300px);
		height: 100%;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: #fff;
		position: absolute;
		padding: 10px;
		left: 300px;
		> *:first-child {
			margin-top: 15px;	
		}
	}	
}

.exam-form {
	.exams-section {
		.desc, .duration {
			margin-top: 10px;
			padding: 0 10px;
		}
		.count {
			margin: 10px 0 30px;
			padding: 0 10px;
		}
	}	
}